DACTS_BACKEND_HOST=0.0.0.0
DACTS_BACKEND_PORT=4300
DACTS_CORS_ORIGIN=http://localhost:5173

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=

DACTS_DOWNLOAD_WINDOWS=
DACTS_DOWNLOAD_MACOS=
DACTS_DOWNLOAD_LINUX=
